.exercises-section {
  padding-top: 40px;
}

.exercises_top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.exercises-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.exercises_title {
  font-size: 28px;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
}

.exercises_name {
  display: none;
  margin-left: 8px;
  color: rgba(36, 36, 36, 0.5);
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  /* 100% */
}

.exercises_search {
  display: none;
  position: relative;
  margin-bottom: 20px;
}

.exercises_search-img {
  cursor: pointer;
  position: absolute;
  top: 13px;
  right: 15px;
}

.exercises_search-input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  padding: 12px 14px 12px 14px;
}

.exercises_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 40px;
}

.exercises_nav {
  display: flex;
  gap: 20px;
}

.exercises__nav-item {
  color: rgba(36, 36, 36, 0.6);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.exercises__nav-item-current {
  position: relative;
  color: #242424;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.exercises__nav-item-current::before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #242424;
}

/* from here */
.exercises_side {
  order: 2;
  display: flex;
  flex-wrap: wrap;
  width: 335px;
  gap: 20px;
}

.exercises_quote {
  order: 1;
  min-height: 50px;
  padding: 20px 20px 20px 32px;

  width: 100%;
  background-color: var(--color-black);
  border-radius: 20px;
  color: var(--color-white);
  position: relative;
}

@media screen and (min-width: 768px) {
  .exercises_quote {
    padding: 0px 20px 20px 90px;
    width: calc(50% - 8px);
  }
}


@media screen and (min-width: 1280px) {
  .exercises_quote {
    padding: 0px 20px 20px 90px;
    width: calc(50% - 8px);
  }
}


.exercises_text {
  order: 3;
  width: 100%;
  padding: 0px 20px 20px 70px;
  border-radius: 20px;
  background-color: var(--color-white-secondary);
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .exercises_text {
    padding: 0px 20px 20px 90px;
    width: calc(50% - 8px);
  }
}

/* .exercises_text {
    width: calc(50% - 8px);
    padding: 25px;
  } */

.exercises_banner-m {
  order: 2;
  width: 100%;
  height: inherit;
  background: url('../../img/banner-m.png');
  background-repeat: no-repeat;
  border-radius: 20px;
  background-position: top center;
  background-size: cover;
}

.time-text {
  margin-top: 15px;
}

.exercises_content-wrap {
  order: 1;
  width: 100%;
}

.exercises_content,
.category_content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.empty-exercises,
.empty-favorites {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 46px;
}

.category-text-content>h3 {
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 20px;
  font-style: normal;
  font-weight: var(--font-weight-primary-regular);
  line-height: 100%;
}

.category-text-content>p {
  color: var(--color-white);
  text-align: center;
  font-family: var(--font-primary);
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-primary-regular);
  line-height: 150%;
}

/*
  EXERCISE_CARD CSS
*/
.exercises_item {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white-secondary);
  padding: 16px;
  border-radius: 15px;
}

.category-item-container {
  position: relative;
  width: 100%;
  height: 225px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: #242424;
}

.category-text-content {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  text-align: center;
  width: 100%;
  height: 100%;
}

.category-item-container .category-text-content {
  background: #11111150;
}

.category-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.exercise-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.card-workout {
  display: flex;
  gap: 16px;
  align-items: center;
}

.card-workout-logo {
  display: inline-flex;
  padding: 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--color-black);
  border-radius: 15px;
}

.workout-logo-addon {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  justify-content: space-between;
}

.card-icon-star {
  fill: var(--color-yellow);
}

.card-start {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-start-arrow {
  display: flex;
  align-items: center;
}

.card-body {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.card-body-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black);
  border-radius: 50%;
  border: 5px solid var(--color-black);
}

.card-footer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-content: center;
}

.info-item-name {
  color: #36363640;
}

.card-icon {
  stroke: var(--color-black);
  fill: var(--color-white-secondary);
}

.card-info {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.long-text {
  width: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 768px) {
  .long-text {
    width: 27px;
  }

  .exercises_search {
    width: 273px;
  }

  .exercises_search-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .exercises_wrap {
    gap: 64px;
    /* position: relative; */
  }

  .exercises_side {
    width: 704px;
    gap: 16px;
    /* position: relative; */

  }

  .exercises_quote {
    width: 400px;
    padding: 40px;
    position: relative;
  }

  .category-text-content>h3 {
    font-size: 24px;
  }


  .exercises_banner-m {
    width: 288px;
    height: 249px;
  }

  .exercises_content {
    grid-template-columns: 1fr 1fr;
    gap: 32px 16px;
  }

  .category_content {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px 15px;
  }

  .exercises_content:has(.empty-exercises),
  .exercises_content:has(.empty-favorites) {
    grid-template-columns: 1fr;
  }

  .empty-exercises,
  .empty-favorites {
    width: 100%;
    font-size: 18px;
    padding: 0 75px;
    font-size: 18px;
    line-height: 133%;
  }

  .card-start-name.usual-text {
    font-size: 16px;
    line-height: 150%;
  }
}

@media screen and (min-width: 1440px) {
  .long-text {
    width: 50px;
  }

  .exercises_search {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .exercises_top {
    flex-direction: row;
    align-items: center;
  }

  .exercises_search-wrap {
    align-items: center;
  }

  .exercises_wrap {
    gap: 40px;
  }

  .exercises_side {
    display: flex;
    flex-direction: column;
    justify-content: start;
    order: 1;
    width: 444px;
  }

  .exercises_content-wrap {
    width: calc(100% - 534px);
    order: 2;
  }

  .category-item-container {
    height: 242px;
  }

  .empty-exercises {
    font-size: 18px;
    padding: 0 140px;
    margin-top: 114px;
  }

  .exercises_quote {
    width: 444px;
  }

  .exercises_text {
    width: 444px;
  }

  .exercises_banner-m {
    width: 444px;
    height: 242px;
  }
}

@media screen and (max-width: 767px) {
  .exercises_banner-m {
    height: 120px;
  }
}

/* quote-home */

.quote-svg__running {
  position: absolute;
  top: 35px;
  left: 40px;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(244, 244, 244, 0.2);
}

@media screen and (min-width: 768px) {
  .quote-svg__running {
    top: 55px;
    left: 52px;
  }
}

.quote-svg {
  fill: var(--color-white);
}

.quote-svg__commas {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  fill: var(--color-white);
}

@media screen and (min-width: 768px) {
  .quote-svg__commas {
    top: 40px;
    right: 40px;
    height: 20px;
    width: 24px;
    height: 24px;
  }
}

.quote_title {
  margin-bottom: 8px;
  padding-left: 52px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .quote_title {
    margin-bottom: 6px;
    font-size: 24px;
    line-height: 1.33;
    padding-left: 50px;
  }
}

.quote_text {
  font-size: 14px;
  padding-left: 52px;
  font-weight: var(--font-weight-primary-regular);
  line-height: 1.29;
  color: rgba(244, 244, 244, 0.6);
}

.quote_author {
  font-weight: var(--font-weight-primary-regular);
  padding-left: 52px;
  font-size: 14px;
  line-height: 1.3;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .quote_author {
    font-size: 16px;
    line-height: 1.5;
    ;
  }
}

.quote_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 141px;
}

@media screen and (min-width: 768px) {
  .quote_wrap {
    min-height: 132px;
  }
}

@media screen and (min-width: 1280px) {
  .quote_wrap {
    min-height: 124px;
  }
}

.exercises_banner-small {
  height: 242px;
  width: 310px;
  background: url(/img/banner-m.webp) no-repeat;
  border-radius: 20px;
  background-position: top center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .exercises_banner-small {
    height: 249px;
    width: 288px;
    background: url(/img/banner-m.webp) no-repeat;
    border-radius: 20px;
    background-position: top center;
    background-size: cover;
  }
}

@media screen and (min-width: 1280px) {
  .exercises_banner-small {
    height: 444px;
    width: 242px;
    /* margin-bottom: 32px; */
    background: url(/img/banner-m.webp) no-repeat;
    border-radius: 20px;
    background-position: top center;
    background-size: cover;
  }

}


.time-svg-wrap {
  position: absolute;
  top: 32px;
  left: 40px;
  transform: translate(-50%, -50%);
  width: 34px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--color-black);
}

.time-svg {
  fill: var(--color-white);

}


.time-text {
  font-weight: var(--font-weight-primary-semibold);
  margin-bottom: 2px;
  font-size: 24px;
  color: var(--color-black);
}

.time-slogan {
  font-size: 14px;
  line-height: 1.29;
  font-weight: var(--font-weight-primary-regular);
  margin-bottom: 16px;
  color: rgba(36, 36, 36, 0.6);
}

.time-description {
  font-size: 14px;
  line-height: 1.29;
  font-weight: var(--font-weight-primary-regular);
  color: var(--color-black);
}