.favorites_title {
  color: #242424;
  font-family: var(--font-primary);
  font-size: 28px;
  line-height: 1.35;
  letter-spacing: -0.56px;
}
.exercises_side {
  order: 1;
}

.exercises_quote {
  order: 1;
}

.exercises_text {
  order: 2;
}

.exercises_banner-m {
  order: 3;
}

.exercises_content-wrap {
  order: 2;
}
@media screen and (min-width: 768px) {
  .favorites_title {
    font-size: 44px;
    line-height: 1.1;
    letter-spacing: -0.88px;
  }

  .exercises_quote {
    width: 100%;
  }
  .exercises_text {
    width: 344px;
  }
  .exercises_banner-m {
    width: 344px;
  }
}

@media screen and (min-width: 1440px) {
  .exercises_side {
    order: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 494px;
  }

  .exercises_content-wrap {
    order: 2;
  }

  .exercises_quote {
    width: 494px;
  }
  .exercises_text {
    width: 239px;
    height: 141px;
  }
  .exercises_banner-m {
    width: 239px;
    height: 141px;
  }
}
