.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 4, 4, 0.4);
  z-index: 5;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 335px;
  padding: 40px 20px;
  border-radius: 20px;
  background-color: var(--color-black);
  z-index: 10;
}

.modal-close-button {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.modal-close-icon {
  stroke: var(--color-white);
}

.modal-close-icon-tablet {
  display: none;
}

/*======   Exercise modal   ======*/
.modal-exercise .image-wrapper {
  margin-bottom: 20px;
  width: 295px;
  height: 258px;
  border-radius: 12px;
  overflow: hidden;
}

.modal-exercise .title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  color: var(--color-white);
}

.modal-exercise .title::first-letter {
  text-transform: uppercase;
}

.modal-exercise .rating-wrapper {
  display: flex;
  gap: 2px;
  height: 18px;
  margin-bottom: 20px;
}

.modal-exercise .rating {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.modal-exercise .stars {
  display: flex;
  gap: 2px;
}

.modal-exercise .star-icon {
  padding: 3px 0 0 3px;
  fill: rgba(244, 244, 244, 0.2);
}

.modal-exercise .data-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
  padding: 10px 0;
  border: 1px solid rgba(244, 244, 244, 0.2);
  border-left: none;
  border-right: none;
}

.modal-exercise .data-name {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(244, 244, 244, 0.4);
}

.modal-exercise .data-value {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  color: #f4f4f4;
}

.modal-exercise .data-value::first-letter,
.modal-exercise .data-name::first-letter {
  text-transform: uppercase;
}

.modal-exercise .description {
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  color: rgba(244, 244, 244, 0.6);
}

@media screen and (min-width: 768px) {
  .modal-close-button {
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
  }

  .modal-close-icon-mobile {
    display: none;
  }

  .modal-close-icon-tablet {
    display: initial;
  }

  .modal-exercise {
    display: flex;
    padding: 32px;
    width: auto;
    max-width: 704px;
  }

  .modal-exercise .image-wrapper {
    margin-right: 32px;
    margin-bottom: 0;
    width: 270px;
    height: 259px;
  }

  .modal-exercise .text-wrapper {
    width: 338px;
  }

  .modal-exercise .title {
    margin-bottom: 8px;
    font-size: 24px;
    line-height: 32px;
  }

  .modal-exercise .rating-wrapper {
    margin-bottom: 16px;
  }

  .modal-exercise .data-wrapper {
    margin-bottom: 16px;
  }

  .modal-exercise .description {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 1280px) {
  .modal-exercise {
    max-width: 708px;
  }

  .modal-exercise .text-wrapper {
    width: 342px;
  }

  .modal-exercise .description {
    margin-bottom: 64px;
  }
}