<section class="exercises-section">
  <div class="container">
    <div class="exercises_wrap">
      <div class="exercises_side">
        <div class="exercises_quote">exercises_quote</div>
        <div class="exercises_text">
          <span>🧥</span>
          <p class="time-text">110 min</p>
          <p>Daily norm of sports</p>
        </div>
        <div class="exercises_banner-m"></div>
      </div>
      <div class="exercises_content-wrap">
        <ul class="exercises_content">
          <!-- will be rendered by js -->
        </ul>
        <ul class="category_content">
          <!-- will be rendered by js -->
          <li class="category-item">
            <a href="">
              <div class="category-text-content">
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <div>
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <div>
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <div>
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <div>
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
          <li class="category-item">
            <a href="">
              <div>
                <h3>Name</h3>
                <p>category</p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
