<section class="exercises-section">
  <h2 class="title visually-hidden">Exercises</h2>
  <div class="container">
    <div class="exercises_wrap">
      <div class="exercises_side">
        <div class="exercises_quote">
          <div class="quote-svg__running">
            <svg class="quote-svg" width="20" height="20">
              <use href="./img/icons.svg#icon-running-stick"></use>
            </svg>
          </div>
          <h3 class="quote_title">Quote of the day</h3>
          <svg class="quote-svg__commas">
            <use href="./img/icons.svg#icon-inverted-commas"></use>
          </svg>
          <div class="quote_wrap js-quote"></div>
        </div>
        <div class="exercises_text">
          <div class="exercises_text-icon-wrap">
            <svg class="exercises_text-icon">
              <use href="./img/icons.svg#icon-dumbbell"></use>
            </svg>
          </div>
          <p class="time-text">110 min</p>
          <p class="exercises_text-sub-title">Daily norm of sports</p>
          <p class="exercises_text-descr">
            The World Health Organization recommends at least 150 minutes of
            moderate-intensity aerobic physical activity throughout the week for
            adults aged 18-64. However, what happens if we adjust that number to
            110 minutes every day? While it might seem like a high number to
            hit, dedicating 110 minutes daily to sporting activities may offer
            unparalleled benefits to physical health, mental well-being, and
            overall quality of life.
          </p>
        </div>
        <div class="exercises_banner-m"></div>
      </div>
      <div class="exercises_content-wrap">
        <ul class="exercises_content">
          <!-- цей список для карток вправ заповнюється динамічно
            (пустий якщо це стартова сторінка з категоріями)-->
        </ul>
        <ul class="category_content">
          <!-- цей список для картинок з категоріями заповнюється динамічно
            (пустий якщо перейшли в категорію з картками) -->
        </ul>
        <div id="exercises-pagination-container" class="pagination-wrap"></div>
      </div>
    </div>
  </div>
</section>
