<section class="exercises-section">
  <div class="container">
    <div class="exercises_wrap">
      <div class="exercises_side">
        <div class="exercises_quote">exercises_quote</div>
        <div class="exercises_text">
          <span>🧥</span>
          <p class="time-text">110 min</p>
          <p>Daily norm of sports</p>
        </div>
        <div class="exercises_banner-m"></div>
      </div>
      <div class="exercises_content-wrap">
        <ul class="exercises_content">
          <li class="exercises_item">
            <div class="exercise-card-header">
              <div class="card-workout">
                <div class="card-workout-logo card-text-logo">Workout</div>
                <div>🎁</div>
              </div>
              <div class="card-start">
                <div class="card-start-name">Start</div>
                <div class="card-start-arrow">=></div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-body-logo">♿</div>
              <div class="card-body-name card-text-name">Air bike</div>
            </div>

            <div class="card-footer">
              <div class="card-info card-text-info">
                <span class="info-item-name">Burned calories: </span>
                312/3 min
                <span class="info-item-name">Body part: </span>Waist
                <span class="info-item-name">Target: </span>Abs
              </div>
            </div>
          </li>
          <li class="exercises_item">
            <div class="exercise-card-header">
              <div class="card-workout">
                <div class="card-workout-logo card-text-logo">Workout</div>
                <div>🎁</div>
              </div>
              <div class="card-start">
                <div class="card-start-name">Start</div>
                <div class="card-start-arrow">=></div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-body-logo">♿</div>
              <div class="card-body-name card-text-name">Air bike</div>
            </div>

            <div class="card-footer">
              <div class="card-info card-text-info">
                <span class="info-item-name">Burned calories: </span>
                312/3 min
                <span class="info-item-name">Body part: </span>Waist
                <span class="info-item-name">Target: </span>Abs
              </div>
            </div>
          </li>
          <li class="exercises_item">
            <div class="exercise-card-header">
              <div class="card-workout">
                <div class="card-workout-logo card-text-logo">Workout</div>
                <div>🎁</div>
              </div>
              <div class="card-start">
                <div class="card-start-name">Start</div>
                <div class="card-start-arrow">=></div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-body-logo">♿</div>
              <div class="card-body-name card-text-name">Air bike</div>
            </div>

            <div class="card-footer">
              <div class="card-info card-text-info">
                <span class="info-item-name">Burned calories: </span>
                312/3 min
                <span class="info-item-name">Body part: </span>Waist
                <span class="info-item-name">Target: </span>Abs
              </div>
            </div>
          </li>
          <li class="exercises_item">
            <div class="exercise-card-header">
              <div class="card-workout">
                <div class="card-workout-logo card-text-logo">Workout</div>
                <div>🎁</div>
              </div>
              <div class="card-start">
                <div class="card-start-name">Start</div>
                <div class="card-start-arrow">=></div>
              </div>
            </div>

            <div class="card-body">
              <div class="card-body-logo">♿</div>
              <div class="card-body-name card-text-name">Air bike</div>
            </div>

            <div class="card-footer">
              <div class="card-info card-text-info">
                <span class="info-item-name">Burned calories: </span>
                312/3 min
                <span class="info-item-name">Body part: </span>Waist
                <span class="info-item-name">Target: </span>Abs
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
