<header class="header">
  <div class="container">
    <div class="header_wraper">
      <a href="./index.html" class="header_logo">
        <svg class="header_logo-icon" width="132" height="24">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button
        class="page-header-menu-button js-open-menu"
        type="button"
        id="mobile-menu-btn"
        aria-label="Burger Menu"
      >
        <span class="burger-menu">
          <span class="line1"></span>
          <span class="line2"></span>
          <span class="line3"></span>
        </span>
      </button>

      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item nav-item_home active">
            <a href="./index.html" class="nav-link nav-link-home">Home</a>
          </li>
          <li class="nav-item nav-item_favorites">
            <a href="./favorites.html" class="nav-link nav-link-favorites"
              >Favorites</a
            >
          </li>
        </ul>
      </nav>

      <ul class="social">
        <li class="social-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="social-link"
            target="_blank"
          >
            <svg class="social_icon" width="28" height="28">
              <use href="./img/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.instagram.com/goitclub/ "
            class="social-link"
            target="_blank"
          >
            <svg class="social_icon" width="28" height="28">
              <use href="./img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="social-link"
            target="_blank"
          >
            <svg class="social_icon" width="28" height="28">
              <use href="./img/icons.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
