<section class="hero-section">
  <div class="container">
    <div class="hero">
      <div class="hero_top-wrap">
        <div class="hero_left">
          <h1 class="hero_title">
            <span class="hero_title-icon">*</span> Get Body in shape, Stay
            healthy
          </h1>
          <p class="hero_slogan">
            Transform your physique and embrace a healthier lifestyle with our
            comprehensive fitness and nutrition support.
          </p>
        </div>
        <div class="hero_right">
          <div class="hero_banner-small"></div>
          <ul class="hero_hashtags">
            <li class="hero_hashtags-item">#Sport</li>
            <li class="hero_hashtags-item">#Healthy</li>
            <li class="hero_hashtags-item">#Workout</li>
            <li class="hero_hashtags-item">#Diet</li>
          </ul>
        </div>
      </div>
      <div class="hero_banner"></div>
    </div>
  </div>
</section>
