<div class="modal modal-exercise">
  <div class="video-wrapper">
    <video class="video" src=""></video>
  </div>
  <div class="text-wrapper">
    <h2 class="title">Stationary bike walk</h2>
    <div class="rating-wrapper">
      <span class="rating">4.0</span>
      <div class="stars">
        <svg class="star-icon star-icon-1" width="18" height="18">
          <use href="./img/icons.svg#star"></use>
        </svg>
        <svg class="star-icon star-icon-2" width="18" height="18">
          <use href="./img/icons.svg#star"></use>
        </svg>
        <svg class="star-icon star-icon-3" width="18" height="18">
          <use href="./img/icons.svg#star"></use>
        </svg>
        <svg class="star-icon star-icon-4" width="18" height="18">
          <use href="./img/icons.svg#star"></use>
        </svg>
        <svg class="star-icon star-icon-5" width="18" height="18">
          <use href="./img/icons.svg#star"></use>
        </svg>
      </div>
    </div>
    <div class="data">
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
      <div class="data-cell">
        <div class="data-name">Target</div>
        <div class="data-value">Abs</div>
      </div>
    </div>
    <p class="description">
      This refers to your core muscles, which include the rectus abdominis,
      obliques, and transverse abdominis. They're essential for maintaining
      posture, stability, and generating force in many movements. Exercises that
      target the abs include crunches, leg raises, and planks.
    </p>
    <div class="buttons-wrapper"></div>
  </div>
</div>
